{% extends 'demo.html' %}

{% block desc %}

<p>Castle recommends tracking the events involved in self-serve password reset flows.</p>

<p>In this scenario, we're going to assume that the user has arrived on this page after satisfying whatever challenge you have in place for allowing a user to reset their password (such as sending an OTP to their mobile phone.</p>

<p>In this flow, use any value <i>different from</i> the valid password to trigger a <b>$password_reset.succeeded</b> event, and use the the valid password to trigger a <b>$password_reset.failed</b> event. (The valid password will not actually change.)</p>

<p>Castle supports several other events in the password reset flow as well:</p>

<ol>
	<li>$password_reset_request.attempted</li>
	<li>$password_reset_request.succeeded</li>
	<li>$password_reset_request.failed</li>
</ol>

{% endblock %}

{% block ui %}
	<div id = "password_reset_form">
		<p>email: {{username}}</p>
		<p>new password: <input type = "password" size = 40 id = "password"></p>

	<br>
	<p><button onclick='evaluate_new_password()'>go</button></p>
	</div>

{% endblock %}

{% block javascript %}

	<script type="text/javascript">

		function evaluate_new_password() {

			var client_id = _castle('getClientId')

			console.log("the castle client id is: " + client_id)

			var user_data = {
				client_id: client_id,
				password: $("#password").val()
			}

			$.ajax({
				url: '/evaluate_new_password',
				dataType: 'json',
				type: 'post',
				contentType: 'application/json',
				data: JSON.stringify(user_data),
				processData: false,
				success: function(data, textStatus, jQxhr ){

					console.dir(data)

					var rows = ""

					rows += get_table_row("api endpoint", "/" + data.api_endpoint)
					rows += get_table_row("castle event", data.castle_event)
					rows += get_table_row("payload to castle", data.payload_to_castle, true)

					desc = "Successfully tracked an event: " + data.castle_event

					$("#password_reset_form").hide()

					$("#results_table_div").show()

					$("#desc").html(desc)

					$("#results_table").html(rows)
				},
				error: function( jqXhr, textStatus, errorThrown ){
					console.log( errorThrown )
				}
			})
		}
	</script>

{% endblock %}